header {
  background-color: #000;
}

body {
  font-size: 30px;
  font-style: 10px;
}

body div {
  font-size: 25px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

@media (max-width: 750px) {
  .red {
    border: 0;
  }
}
